<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front Page</title>
</head>
<body>
    <div class="wrapper">
    <h1 class="welcome">Welcome</h1>
   <a id="productImg" href="/products"><img src="https://leelinesourcing.com/wp-content/uploads/2018/06/products.jpg" alt="product"></a>
   <br>
   <a id="articleImg" href="/articles"><img src="https://www.lowes.co.uk/media/1524/quill-green.jpg" alt="articles"></a>
   </div>
</body>
</html>