<div class="wrapper">
    <h1 class="welcome">New Article</h1>
<form action="/articles" method="POST">
    <h2>Title:</h2>
    <input type="text" name='title' placeholder="Title">
   <h2> Author:</h2> 
    <input type="text" name="author" placeholder="author">
   <h2> Body:</h2>
    <input type="text" name="body" placeholder="body"> <br> <br>
    <input class="btn" type="submit" value="Submit">
</form>
<h2>{{error}}</h2>
</div>