<form action="/articles" method="POST">
    Title: <br>
    <input type="text" name='title' placeholder="Title"><br>
    Author: <br>
    <input type="text" name="author" placeholder="author"> <br>
    Body: <br>
    <input type="text" name="body" placeholder="body"> <br> <br>
    <input type="submit" value="Submit">
</form>
<h2>{{error}}</h2>