<div class="wrapper">
<h1 class="welcome">New Product</h1>
<form action="/products" method="POST">
   <h2> Name:</h2> 
    <input type="text" name="name" placeholder="name">
    <h2>Price:</h2> 
    <input type="text" name="price" placeholder="price"> 
    <h2>Inventory:</h2>
    <input type="text" name="inventory" placeholder="inventory"> <br> <br>
    <input class="btn" type="submit" value="Submit">
</form>
<h2>{{error}}</h2>
</div>
